[submodule "January/week 1/login_screen"]
	path = January/week 1/login_screen
	url = https://github.com/Afront/login-screen.git
[submodule "January/week 1/forex_client"]
	url = https://github.com/Afront/forex_client.git
[submodule "January/week 2/bank_api.git"]
	path = January/week 2/bank_api.git
	url = https://github.com/Afront/bank_api.git
[submodule "January/auth_client"]
	path = January/auth_client
	url = https://github.com/Afront/auth_client.git
