C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local//.bundle/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/.yardoc
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/_yardoc/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/coverage/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/doc/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/pkg/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/spec/reports/
C:/winter-projects/Code-Everyday-2020/January/week 1/forex_client_local/tmp/
C:/winter-projects/Code-Everyday-2020/January/week 1/login_screen_local/target/
C:/winter-projects/Code-Everyday-2020/January/week 1/login_screen_local/target/debug